/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.navbar-frame {
    position: fixed; /* ES PARA PEGAR EL NAVBAR ARRIBA */
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    z-index: 1000; 
    background-color: white; 
    border: none;
}



/* COLOR VARIABLES */
:root {
    --primary-color: #00a4cb;
    --secondary-color: #535354;
    --background-color: #1d1d1d;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --white-color: #FFF;
    --black-color: #000;
    --input-border-color: #474747;
    --transition-3s: 0.3s;
}


/* GLOBAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* REUSABLE ELEMENTS */
a{
    text-decoration: none;
    color: var(--black-color);
    transition: var(--transition-3s);
}
a:hover{
    text-decoration: underline;
}


body {

    height: auto;
    overflow-y: auto; 
    display: block; 

    margin: 0;
    padding-top: 20px;
    padding-bottom: 100px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


/* WRAPPER */
.wrapper {
    margin-top: 100px; 
    position: relative;
    width: 1350px;
    height: 1050px;
    background-color: var(--white-color);
    border-radius: 15px;
    padding: 10px 32px 32px;
    border: 1px solid var(--primary-color);
    box-shadow: 0 8px 15px var(--shadow-color);
    transition: var(--transition-3s);
    margin-left: auto;
    margin-right: auto;

    flex: 1 1 calc(25% - 20px); 
    box-sizing: border-box;
}

/* FORM HEADER */
.form-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 70px;
    background-color: var(--primary-color);
    border-radius: 0 0 20px 20px;
}
.form-header::before, .form-header::after{
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
}
.form-header::before{
    left: -30px;
    border-top-right-radius: 50%;
    box-shadow: 15px 0 0 var(--primary-color);
}
.form-header::after{
    right: -30px;
    border-top-left-radius: 50%;
    box-shadow: -15px 0 0 var(--primary-color);
}
/* TITLES */
.titles{
    position: relative;
}
.title-login, .title-register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--white-color);
    font-size: 24px;
    transition: var(--transition-3s);
}
.title-register{
    top: 50px;
}

/* FORMS */
.login-form, .register-form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    transition: var(--transition-3s);
}
.register-form{
    left: 150%;
}

/* INPUT FIELDS */
.input-box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-box-big {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 100%; /* Ajusta el ancho al contenedor */
}

.input-box-big input, 
.input-box-big textarea {
    width: 100%;
    height: 150px; 
    font-size: 18px; 
    padding: 0px;
    border-radius: 20px; 
    border: 1px solid var(--input-border-color);
}

.input-box-big label {

    top: 20px; 
    font-size: 16px; 
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 5px; 
}


/*CAMBIA EL TAMAÑO DE LOS INPUTS*/
.input-field{
    width: 100%;
    height: 35px; 
    font-size: 16px;
    background: transparent;
    color: var(--black-color);
    padding: 0 20px;
    border: 1px solid var(--input-border-color);
    border-radius: 30px;
    outline: none;
    transition: var(--transition-3s);
}
.input-field:focus{
    border: 1px solid var(--primary-color);
}
.label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: var(--secondary-color);
    transition: 0.2s;
    cursor: text;
}
.input-field:focus ~ .label,
.input-field:valid ~ .label{
    top: 0;
    font-size: 14px;
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 0 10px;
}
.input-field:valid ~ .label{
    color: var(--secondary-color);
}
.icon{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--secondary-color);
}

/* SUBMIT BUTTON */
.btn-edit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: 10px;
    width: 25%;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: var(--transition-3s);
}
.btn-edit:hover{
    gap: 15px;
}
.btn-edit i{
    font-size: 20px;
}
/* SWITCH FORM */
.switch-form{
    text-align: center;
}
.switch-form a{
    font-weight: 500;
}

.profile-picture-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    top: 280px; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1; 
}


.profile-picture {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid var(--primary-color); 
    transition: border-width 0.1s ease; 
}

.profile-picture:hover {
    border-width: 15px; 
}

.background-picture-container {
    position: relative;
    width: 100%;
    height: 450px; 
    overflow: hidden;
    border-radius: 15px; 
    top: 90px; 
}

.background-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease; 
    border-radius: 15px; 
}

.background-picture:hover {
    transform: scale(1.05); 
    filter: brightness(0.8); 
}

/* CONTENEDOR DE INFORMACIÓN DEL PERFIL */
.profile-edit {
    padding-top: 36%;
    font-family: Arial, sans-serif;
    margin-left: 200px; 
    margin-right: 200px; 
    padding-bottom: 50px;
}

/* ESTILOS PARA CADA ELEMENTO */
.profile-username {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.profile-fullname {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
}

.profile-email, .profile-birthday, .profile-description {
    font-size: 16px;
    color: var(--secondary-color);
}

/* ////////////////////////////////////////////////////// */


/* ESTILOS PARA BOTONES DE CAMBIO DE IMAGEN */
.btn-change-photo, .btn-change-bg {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s;
}

.btn-change-photo:hover, .btn-change-bg:hover {
    background-color: #006987;
}

/* OCULTAR INPUTS DE ARCHIVO */
.profile-upload, .background-upload {
    display: none;
}


/* RESPONSIVE STYLES */
@media only screen and (max-width: 564px){
    .wrapper{
        margin: 20px;
    }
}