/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.navbar-frame {
    position: fixed; /* ES PARA PEGAR EL NAVBAR ARRIBA */
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    z-index: 1000; 
    background-color: white; 
    border: none;
}


/* COLOR VARIABLES */
:root {
    --primary-color: #00a4cb;
    --secondary-color: #535354;
    --background-color: #1d1d1d;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --white-color: #FFF;
    --black-color: #000;
    --input-border-color: #474747;
    --transition-3s: 0.3s;
}


/* GLOBAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* REUSABLE ELEMENTS */
a{
    text-decoration: none;
    color: var(--black-color);
    transition: var(--transition-3s);
}
a:hover{
    text-decoration: underline;
}


body {

    overflow-y: auto; 
    display: block; 
    background-color: var(--background-color);
    margin: 0;
    padding-top:150px;
    padding-bottom: 150px;
}

/* WRAPPER */
.wrapper {
    margin-top: 100px; /* Asegura que el contenido no quede debajo del navbar */
    position: relative;
    width: 1350px;
    height: auto;
    background-color: var(--white-color);
    border-radius: 15px;
    padding: 10px 32px 32px;
    border: 1px solid var(--primary-color);
    box-shadow: 0 8px 15px var(--shadow-color);
    transition: var(--transition-3s);
    margin-left: auto;
    margin-right: auto;
}

/* FORM HEADER */
.form-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 70px;
    background-color: var(--primary-color);
    border-radius: 0 0 20px 20px;
}
.form-header::before, .form-header::after{
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
}
.form-header::before{
    left: -30px;
    border-top-right-radius: 50%;
    box-shadow: 15px 0 0 var(--primary-color);
}
.form-header::after{
    right: -30px;
    border-top-left-radius: 50%;
    box-shadow: -15px 0 0 var(--primary-color);
}
/* TITLES */
.titles{
    position: relative;
}
.title-login, .title-register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--white-color);
    font-size: 24px;
    transition: var(--transition-3s);
}
.title-register{
    top: 50px;
}

/* FORMS */
.login-form, .register-form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    transition: var(--transition-3s);
}
.register-form{
    left: 150%;
}

/* INPUT FIELDS */
.input-box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}


/*CAMBIA EL TAMAÑO DE LOS INPUTS*/
.input-field{
    width: 100%;
    height: 35px; 
    font-size: 16px;
    background: transparent;
    color: var(--black-color);
    padding: 0 20px;
    border: 1px solid var(--input-border-color);
    border-radius: 30px;
    outline: none;
    transition: var(--transition-3s);
}
.input-field:focus{
    border: 1px solid var(--primary-color);
}
.label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: var(--secondary-color);
    transition: 0.2s;
    cursor: text;
}
.input-field:focus ~ .label,
.input-field:valid ~ .label{
    top: 0;
    font-size: 14px;
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 0 10px;
}
.input-field:valid ~ .label{
    color: var(--secondary-color);
}
.icon{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--secondary-color);
}
/* FORGOT PASSWORD & TERMS AND CONDITIONS */
.form-cols{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.col-1{
    display: flex;
    align-items: center;
    gap: 6px;
}
/* SUBMIT BUTTON */
.btn-edit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: 10px;
    width: 25%;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: var(--transition-3s);
}
.btn-edit:hover{
    gap: 15px;
}
.btn-edit i{
    font-size: 20px;
}

.switch-form{
    text-align: center;
}
.switch-form a{
    font-weight: 500;
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: absolute;
    top: 65%; 
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.profile-picture {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.5s ease; 

    overflow: hidden;
    background-color: var(--primary-color);
}

.profile-picture:hover {
    filter: brightness(0.9); 
    transform: scale(1.05); 
    box-shadow:0 10px 10px #006987; 
}

.background-picture-container {
    position: relative;
    width: 100%;
    height: 450px; 
    overflow: hidden;
    border-radius: 15px; 
    top: 90px; 
}

.background-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease; 
    border-radius: 15px;
}

.background-picture:hover {
    transform: scale(1.05); 
    filter: brightness(0.8); 
}

/* CONTENEDOR DE INFORMACIÓN DEL PERFIL */
.profile-info {
    padding-top: 150px;
    font-family: Arial, sans-serif;
    margin-left: 470px; 
    padding-bottom: 50px;
}

/* ESTILOS PARA CADA ELEMENTO */
.profile-username {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.profile-fullname {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
}

.profile-email, .profile-birthday, .profile-description {
    font-size: 16px;
    color: var(--secondary-color);
}

/* ////////////////////////////////////////////////////// */

/* CONTENEDOR DE PUBLICACIONES */
.post-container {
    display: flex;
    justify-content: center;  
    gap: 0px; 
    margin-top: -25px; 
    flex-wrap: wrap; 
    width: 100%;
    text-align: center;
    position: relative;
}

/* ESTILO INDIVIDUAL DE CADA PUBLICACIÓN */
.post {
    width: 450px;
    height: 435px;
    background-color: var(--primary-color);

    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.post:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px 1px #006987; 
}

/* IMAGEN DENTRO DE LA PUBLICACIÓN */
.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* CONTENIDO DE LA PUBLICACIÓN */
.post-content {
    padding: 15px;
}

.post-content h3 {
    font-size: 18px;
    margin: 10px 0;
}

.post-content p {
    font-size: 14px;
    color: #666;
}


/* POST CONTENIDO */
.Full {
    display: none; 
    position: fixed;
    z-index: 1001; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;
  }
  
  .Full-content {
    background-color: var(--white-color);
    width: 90%; 
    max-width: 1200px; 
    height: 80%; 
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 8px 15px var(--shadow-color);
  }
  
  .Full-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 100%; 
  }
  
  .Full-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .Full-info {
    padding: 40px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .post-owner {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .owner-picture {
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    object-fit: cover;
  }
  
  .owner-name {
    font-size: 24px; 
    font-weight: bold;
    color: var(--black-color);
  }
  
  .post-description {
    font-size: 18px; 
    color: var(--secondary-color);
    margin: 20px 0;
  }
  
  .Full-buttons {
    display: flex;
    gap: 20px; 
  }
  
  .like-btn, .download-btn, .edit-post-btn{
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 15px 30px; 
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: var(--transition-3s);
    font-size: 18px; 
  }
  
  .like-btn:hover, .download-btn:hover, .edit-post-btn:hover {
    background-color: #006987; 
  }
  
  .close-Full {
    position: absolute;
    top: 20px; 
    right: 30px; 
    font-size: 40px; 
    color: var(--black-color);
    cursor: pointer;
  }
  
  .close-Full:hover {
    color: var(--primary-color);
  }

  /* BOTON EDITAR POST */
.edit-post-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.edit-post-content {
    background-color: var(--white-color);
    width: 60%;
    max-width: 1100px;
    height: 80%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 8px 15px var(--shadow-color);
}

.edit-post-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    height: 100%;
    padding: 20px;
}

.edit-post-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-color); 
    border-radius: 10px;
    overflow: hidden;
}

.edit-post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-post-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.edit-post-info .input-box-big {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.edit-post-info .input-field2 {
    width: 100%;
    height: 400px; 
    font-size: 16px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--input-border-color);
    background: var(--white-color);
    resize: none; 
}

.edit-post-info .label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--primary-color);
}

.edit-post-save ,.edit-post-discard {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 15px 30px; 
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: var(--transition-3s);
    font-size: 18px; 
  }
  .edit-post-delete  {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 15px 30px; 
    background-color: #00ebff; 
    color: var(--white-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: var(--transition-3s);
    font-size: 18px; 
  }
  
  
.edit-post-save:hover ,.edit-post-discard:hover{
    background-color: #6a359c; 
  }
  .edit-post-delete:hover {
    background-color: #9af7ff; 
  }

  .edit-post-buttons {
    display: flex; 
    justify-content: center; 
    gap: 15px; 
    align-items: center; 
    margin-top: 20px; 
}

.label {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 5px;
    display: block;
}


/* RESPONSIVE STYLES */
@media only screen and (max-width: 564px){
    .wrapper{
        margin: 20px;
    }
}