
.navbar {
    margin-top: 10px;
    background-color: #ffffff!important; 
}

/* EL IMPORTANT FUERZA LA REGLA */

.logo {
    width: 200px; 
    height: auto; 
}

.navbar .navbar-brand {
    color: rgb(255, 255, 255) !important; 
}


.navbar .nav-link:hover {
    color: rgb(177, 177, 177) !important; 
}

.icon-large {
    font-size: 24px; 
    width: 24px;
    height: 24px;
    color: #00a4cb !important; 
}


iframe {
    display: block; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 80px; 
    z-index: 1000; 
}

.move {
padding-right: 2%;
}



